body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
  box-sizing: border-box;
}

.section {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.main-layout {
  display: flex;
  height: 100vh;
}

/* Colonne gauche */
.left-panel {
  width: 40%; /* ou 30% si tu veux un peu plus étroit */
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #f8f9fa;
  box-sizing: border-box;

}

/* Colonne droite */
.right-panel {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  border-left: 2px solid #ccc;
}

